# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/

# OS / editor files
*.DS_Store
*.swp
*.swo

# Logs
*.log

# Model weights (keep .gitkeep)
app/src/models/*
!app/src/models/.gitkeep
